{% extends 'base/base.html' %}

{% block 'title' %}Create Post{% endblock %}

{% block 'body' %}
    <div class="container">
       {% include 'component/sidenav.html' %}
        <div class="col-md-9">
            <h3>Create Post</h3>
            <form method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                {{forms.as_p}}
<!--                {{forms.as_table}}-->
<!--                forms as paragraph-->
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>


    </div>
{% endblock %}